@import url(componentes.css);

.fondo {
    background-image: url(../img/header.jpg);
    z-index: 0;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.fondo h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

.fondo h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
}



@media screen and (max-width: 800px) {

    .fondo {
        height: 850px;
        position: fixed;
    }

    .fondo h1 {
        font-size: 2rem;
    }

    .fondo h2 {
        font-size: 1rem;
    }
}